
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

* {
  margin: 0;
  font-weight: 300;
}


.intro {
  font-family: "PT Mono", monospace;
  background-image: url('./images/bricks.jpeg');
  color: rgb(0, 0, 0);
  height: 100vh;
  text-align: center;
  padding-top: 4em;
  h1 {
    font-size: 3em;
  }
}

.about {
  height: 100vh;
}

.projects {
  height: 100vh;
}

.contact {
  height: 100vh;
}