@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  /* background-image: url("https://cdn.pixabay.com/photo/2017/05/13/17/41/textile-2310247_1280.png"); */
  /* background-image: url("https://images.pexels.com/photos/3541916/pexels-photo-3541916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: black;
}

h2 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: whitesmoke;
}

h3,
h5 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: black;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  z-index: 100;
}

.app-header-nav {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  padding: 1em 1em 1em 1em;
  color: black;
}

.nav-title {
  color: black;
  font-size: 1.6em;
}

.nav-title:hover {
  color: rgb(109, 109, 109);
}

.app-header-nav__links {
  margin: 0em 0.2em 0em 0.2em;
  color: black;
}

.app-header-nav__links:hover {
  color: rgb(109, 109, 109);
}

.home-container {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
}

.me {
  width: 400px;
    height: 500px;
    margin: auto;
    margin-top: -2em;
    padding-top: -2em;

}

.home-description {
  font-size: 1.2em;
  color: black;
  text-align: center;
}

.about-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0em 0em 2em 0em;
  /* margin: auto; */
  margin-top: -1em;
  /* max-height: 400px;
  overflow-y: scroll; */
  color: black;
  margin: auto;
  max-width: 800px;
}

.about-title {
  color: black;
  font-size: 2em;
}

@media only screen and (min-width: 535px) {
  
}

@media only screen and (min-width: 750px) {
  
}

@media only screen and (min-width: 950px) {
 
}
