@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.35em;
  font-weight: 300;
  text-align: center;
}

p  {
  margin: 1em;
}

h1 {
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1em;
}

h3 {
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: rgb(163, 163, 163);
}

a:hover {
  color: black;
}

.navbar-name {
  color: rgb(202, 37, 142);
  font-size: 1.2em;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}